<% if @article.errors.any? %>
  <ul>
    <% @article.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %>

<%= form_for @article do |f| %>
  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, :class => "form-control" %>
  </div>
  <div class="form-group">文章類別
   <%= f.collection_check_boxes(:category_ids, Category.all, :id, :name) %>
  </div>
  <div class="form-group">
  <%= f.label :status %>
  <%= f.select :status, ["published", "draft"] %>
  </div>
  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_area :description, :rows => 10, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= f.submit :class => "btn btn-primary" %>
  </div>

<% end %>