<p><%= link_to "回到首頁", articles_path, :class => "btn btn-primary" %></p>
<h2><%= @article.title %> <small><%= @article.user.username %></small></h2>
<%= user_gavatar(@article.user) %>

<%= simple_format @article.description %>

<p class="text-right"><%= @article.created_at.to_s(:short) %></p>
<hr>

<% @article.comments.each do |comment| %>

<div class="media">
  <div class="media-left">
    <a href="#">
      <% if comment.user %>
        <%= user_gavatar comment.user %>
      <% end %>
    </a>
  </div>
  <div class="media-body">
    <h4 class="media-heading"><%= comment.user.username %></h4>
    <%= simple_format comment.content %>
    <p class="text-right"><%= comment.created_at.to_s(:short) %></p>
  </div>
</div>

<% end %>