<p><%= link_to "回到首頁", articles_path, :class => "btn btn-primary" %></p>
<h2><%= @article.title %> <small><%= @article.user.username %></small></h2>
<p><% @article.categories.each do |a| %>
  <%= a.name%>
<% end %>
</p>

<%= user_gavatar(@article.user) %>

<%= simple_format @article.description %>

<p class="text-right"><%= @article.created_at.to_s(:short) %></p>
<p><a href="#" id="comment-btn" class="btn btn-primary">回覆</a></p>

<div id="comment-form">

<%= form_for [@article, @comment] do |f| %>

  <% if @comment.errors.any? %>
    <ul>
      <% @comment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>

  <div class="form-group">
    <%= f.text_area :content, :rows => 5, :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= f.submit "送出留言", :class => "btn btn-primary" %>
  </div>

<% end %>

</div>

<hr>
<% @article.comments.each do |comment| %>
<% next if comment.new_record? %>
<div class="media" id="comment-<%= comment.id %>" >
  <div class="media-left">
    <a href="#">
      <% if comment.user %>
        <%= user_gavatar comment.user %>
      <% end %>
    </a>
  </div>
  <div class="media-body">
    <h4 class="media-heading"><%= comment.user.username %></h4>
    <%= simple_format comment.content %>
    <p class="text-right"><%= comment.created_at.to_s(:short) %></p>
  </div>
</div>

<% end %>
<script>
  var comment_form = $("#comment-form")
  <% unless @comment.errors.any? %>
    comment_form.hide();
  <% end %>
  $("#comment-btn").click(function(){
    comment_form.slideToggle();
  })

  var hash = window.location.hash.substring(1);
  if (hash) {
    $("#" + hash).css( { "background-color": "#eee" } );
  }
</script>